

  <h2>{{answer.comment}}</h2> <br />
  <h4>written by {{answer.username}}</h4>

  <br />
  <div class="answerbutton">
    <button class="btn btn-danger"{{action 'deleteAnswer' answer}}> Delete Answer</button>
  </div>
<hr>
