<h1>Give an answer</h1>
<div class="container">
  <form class="form-group">

    <label for="comment">New Answer</label>
    {{textarea value=comment id="comment"}}

    <label for="username">Name</label>
    {{input value=username id="username"}}

    <button class="btn" {{ action "saveAnswer" }}>Save Answer</button>
  </form>
</div>
